* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: #212136;
    color: #eaeeff;
    font-family: 'Rubik', sans-serif;
}

.d-grid {
    display: grid;
}

.text_primary_1 {
    color: #05e8fc !important;
}
.text_primary_2 {
    color: #fe0291 !important;
}

.bg_dark_light {
    background: #1d1d31;
}

.text_gradient {
    text-transform: uppercase;
	background:linear-gradient(160deg,#05e8fc 14.34%,#fe0291 85.36%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#search-icon {
    cursor: pointer;
}
.card_bg {
    background-color: #131326;
    border: 1px solid #31314f;
    border-radius: 16px;
    transition: 0.5s;
    transform: scale(1) translateY(0px);
    position: relative;
    left: 0;
}

.hero_img_card {
    background-color: #131326;
    border: 1px solid #31314f;
    border-radius: 10px;
} 

.current_price_box {
    background-color: #26263f;
    /* border: 1px solid #31314f; */
    padding: 10px;
    border-radius: 10px;
}

.top_navbar {
    background-color: #1313264f;
    backdrop-filter: blur(12px);
}

.connect_wa_llets {
    background: #fe0291;
    color: #fff;
    padding: 5px 24px;
    border-radius: 50px;
    border: 1px dashed #fe0291;
    backdrop-filter: blur(12px);
    transition: 0.5s;
    position: relative;
}

.connect_wa_llets:hover { 
    color: #ffffff; 
    border-top: 1px dashed #05e8fc; 
    border-bottom: 1px dashed #05e8fc; 
}

.but-modal{
    justify-content: space-between;
    display: flex;
    -moz-box-align: center;
    align-items: center; 
    width: 100%;
    height: 48px; 
    margin-bottom: 8px; 
    font-size: 16px;   
    background: #fe0291;
    color: #fff;
    padding: 5px 24px;
    border-radius: 50px;
    border: 1px dashed #fe0291;
    backdrop-filter: blur(12px);
    transition: 0.5s;
    position: relative;
}

.but-modal:hover { 
    color: #ffffff;
    border-top: 1px dashed #05e8fc;
    border-bottom: 1px dashed #05e8fc;
}

/* HERO SECTION STYLE CSS ADD */

.trx_price1 small {
    color: #05e8fc !important;
    background: #212136;
    padding: 2px 8px;
    border-radius: 50px;
}

.hero_img_card img {
    object-fit: cover;
    width: 100%;
    min-height: 451px;
    max-height: 451px;
    border-radius: 10px;
}
.collections_more_cols img,
.hero_img_code img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.collections_more_cols {
    border: 1px solid #31314f;
    height: 218px;
    border-radius: 10px;
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;
    flex-shrink: 0; 
    flex-basis: auto;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: relative;
}
.hero_img_card .img_contents,
.collections_more_cols .img_contents {
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(0deg)translateX(-30rem);
    transition: 0.5s;
    color: #ffffff;
    right: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero_img_card:hover .img_contents,
.collections_more_cols:hover .img_contents {
    transform: skewX(0deg)translateX(0%); 
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
}

.ern_code {
    background: #26263f;
    padding: 4px 18px;
    border-radius: 10px;
}
 
.collections_img_box img {
    object-fit: cover;
    width: 100%;
    min-height: 370px;
    max-height: 370px;
    border-radius: 10px;
}
 
.hero_img_code .share_media {
    opacity: 0;
    transition: 0.5s;
    transform: scaleX(1) translateX(0);
    position: absolute; 
    bottom: -194px;
    margin: auto;
}

.hero_img_code:hover .share_media {
    opacity: 1;
    transform: scaleX(1) translateY(-36px);
    bottom: 0;
}
.share_media {
    background-color: #212136;
    padding: 7px 15px; 
    border-radius: 3px;
    margin: auto;  
}
 
.share_media ul li {
    display: grid;
    align-items: flex-start;
    justify-content: start;
    padding: 4px 0;
}
/* <!-- TOP COLLECTIONS IN 30 DAY SECTION START HER --> */

.collec_day {
    background: transparent;
    color: #fe0291;
    border: none;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    position: relative;
}
option {
    font-size: 14px;
    background: #212136;
}
.user_img1 .check_icon {
    position: absolute;
    bottom: 0;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    right: 0;
}

.main_box_collection .hot_user {
    position: absolute;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(15px);
    padding: 4px 14px;
    margin: auto;
    transform: scaleX(1) translateY(20rem);
    transition: 0.5s;
    left: 0;
    right: 0;
    border-radius: 13px;
    bottom: 7px;
}

.main_box_collection:hover .hot_user {
    transform: scaleX(1) translateY(0rem);

}

.colle {
    margin-left: -14px;
    position: relative;
    transition: 0.5s;
    margin-bottom: 0;
}
.colle:hover {
    margin-bottom: 10px; 
}

.hot_user {
    position: relative;
}
.hot_user .trx_price_img {
    margin-top: -40px;
}
.user_img1 img { 
    width: 50px !important;
    height: 50px !important;
}

.trx_price_img .inner_img1 img.second {
    margin-left: -15px;
    border-radius: 50%;
    position: relative;
}
.trx_price_img .inner_img1 img.thired {
    margin-left: -15px;
    border-radius: 50%;
    position: relative;
}

.collec_img__{
    width: 40px !important;
    height: 40px !important;
    display: inline-block !important;
    border: 1px solid #05e8fc;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 0;
    object-fit: cover;
    background-color: #f9faff;
 }
 .collec_img__:hover{
     margin-top: -10px;
    z-index: 1;
    position: relative;
 }


/* HOT COLLECTIONS SECTION css add */
.hot_collection {
    position: relative;
    height: 218px;
    object-fit: cover;
    overflow: hidden;
}

.hot_collection .hot_user {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(12px);
    margin: 7px 7px;
    padding: 10px;
    border-radius: 11px;
    border: 1px solid #2121365e;
}
/* HOT COLLECTIONS SECTION css add  END*/


/* EXPLORE SECTION CSS ADD HERE */

.cate_btn {
    padding: 4px 12px;
    border-radius: 7px;
    background: #26263f;
    color: #05e8fc;
}
.btn-outline-secondary {
    color: #05e8fc;
    border-color: #05e8fc;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #05e8fc;
    border-color: #05e8fc;
}


/* EXPLORE SECTION CSS END */


/* =============== MY ITEMS PAGE STYLESHEET CSS ADD HERE ================= */
.back_ground_area {
    position: relative; 
}
.bg_item_img { 
    background-position: center;
    background-size: cover;
    height: 380px;
    background-repeat: no-repeat;
    border-radius: 12px;
    width: auto;
    object-fit: cover;
    border: 1px solid #31314f;
    overflow: hidden;
    position: relative;
}
.bg_item_AREA {
    background-position: center;
    background-size: cover;
    height: 222px;
    background-repeat: no-repeat;
    border-radius: 12px;
    width: auto;
    object-fit: cover;
    border: 1px solid #31314f;
    overflow: hidden;
    position: relative;
}
.bg_item_img::before{
    content: '';
    position: absolute;
    top: 0;
    left: -61rem;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgb(255 255 255 / 4%),transparent);
    transform: skewX(45deg)translateX(0);
    transition: 0.5s;
    overflow: hidden;
}

.bg_item_img:hover::before{
    transform: skewX(45deg)translateX(250%); 
    width: 100%;
}

.back_ground_area .edit_profiles {
    transition: 0.5s;
    transform: scale(1) translateY(0px);
    cursor: pointer;
    position: absolute;
    right: 39px;
    bottom: 0;
    opacity: 0; 
    padding: 5px 10px; 
}

.back_ground_area:hover .edit_profiles {
    transform: scale(1) translateY(-30px);
    position: absolute;
    right: 39px;
    bottom: 0;
    cursor: pointer;
    opacity: 1;
  }

  .back_ground_area .user_imgs img {
    object-fit: cover;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid #fe0291;
}

.address_width {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 207px;
}

.address_box a {
    background: #1d1d31;  
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 207px;
}

.list_col_box .active_heading {
    position: absolute;
    top: -7px;
    right: 2rem;
    background: #fe0291;
    padding: 2px 10px;
    border-radius: 50px;
    z-index: 9;
}
.filter_activity {
    z-index: 0 !important;
}

/* =============== MY ITEMS PAGE STYLESHEET CSS ADD END HERE ================= */

/* =============== TOKEN COLLECTION PAGE DESIGN CSS ADD HERE===================== */
.by_is{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 38%;
    font-family: inherit;
    font-weight: 500; 
    font-size: 14px;
    vertical-align: inherit;
}
/* =============== TOKEN COLLECTION PAGE DESIGN CSS END HERE ===================== */

/************************************************ZOOMING IMAGES CSS ADD DATE 12/08/2021 ROHIT*********************************************************/
    #myImg {
        border-radius: 5px;
        cursor: zoom-in;
        transition: 0.3s;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        box-shadow: 0 0 6px 0 rgb(157 96 212 / 50%);
        border: solid 2px transparent;
        background-image:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient( 101deg, #fe0291, #0edff8);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow:2px 1000px 1px #f9faff inset;
        }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modalzoom {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgb(75 82 153 / 46%) /* Black w/ opacity */
    }
     
    .modal-contentzoom {
        margin: auto;
        display: block;
        width: 40%;
        height: auto;
        min-height: auto;
        cursor: zoom-out;
        margin-top: 3rem;  
        border-radius: 12px;
        border: solid 2px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(
        101deg, #4e9d66, #4c549c);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #eaedf7 inset;
    }
     
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
     
    .modal-contentzoom, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    .out {
      animation-name: zoom-out;
      animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(1)}
        to {-webkit-transform:scale(2)}
    }
    
    @keyframes zoom {
        from {transform:scale(0.4)}
        to {transform:scale(1)}
    }
    
    @keyframes zoom-out {
        from {transform:scale(1)}
        to {transform:scale(0)}
    }
    
    /*******=====ZOOMING IMAGES CSS ADD *======*/

/* =============  CREATE PAGE DESIGNING CSS ADD HERE  ============= */

.single_box h6 {
    position: absolute;
    display: inline-block;
    top: 0;
    font-size: 13px;
    left: 7px;
    border: 1px solid #687079;
    padding: 4px 15px;
    font-weight: 400;
    border-radius: 30px;
    color: #fff;
    background-color: #687079;
}
 
.opt-create{
    display: inline-block;
    text-align: center;
    background-color: #1a1a2d;
    border: 1px solid #31314f;
    padding: 40px;
    min-width: 44%;
    margin: 2%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.opt-create:hover {
    background: #212136;
    border: 1px dashed #06e8fc;
}
.dark-scheme .opt-create{
    border-color: rgba(255,255,255,.1);
    background: none;
}

.opt-create img{
    position: relative;
    width: 100px;
    transition: 0.5s;
    transform: scale(1);
}

.opt-create:hover img{
    transform: scale(1.2);
}

.opt-create h3{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 0;
}

/* ================ CREATE SIGNLE COLLECTION PAGE CSS ADD HERE ======================*/
 
.details-bid-history .explore-tab-sections .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000000 !important;
    background-color: #ffffff; 
    padding: 8px 15px;
    font-size: 16px; 
    border-bottom: 2px solid #000 !important;
}
.upload_here {
    border: 1px solid #31314f;
    min-height: 140px;
    padding: 30px 10px;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
}
.choosen_img {
    max-height: 300px;
    width: 100%;
    overflow: hidden;
}
button.browse.btn.btn-primary {
    border-radius: 20px;
}
.upload_here .input-group-append {
    display: inline-block !important;
    text-align: center;
    margin: 0 auto;
}
.upload_here p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.choosen_img img#preview {
    width: 100%;
    height: auto;
    max-height: 309px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 26px;
}
.preview-section img#preview1 {
    width: 100%;
    height: auto;
}
.category_here-youadd select#exampleFormControlSelect1 {
    border: unset;
    border-bottom: 2px solid #ccc;
    border-radius: 0px;
}
 
.properties-set-input input {
background-color: transparent;
border: 0;
border-bottom: 1px solid #ccc;
border-radius: 0;
outline: none;
box-shadow: none;
}
input[type='file'] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
  }
/************************************************************* create-page *************************************/
.preview-box {
    inset: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    background: #1d1d31;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #31314f;
    overflow: hidden;
  }
  .upload-file-preview {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 320px;
  }
  .upload-file-preview span {
    text-decoration: none;
    color: #fafafa;
    font-size: 15px;
    line-height: 20.7px;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
  }
   
  #dgng {
      display: none;
  }
  .Fixed_price {
      border-radius: 10px !important;
      text-align: center;
      padding: 30px 0px;
  }
  .price-btn-here input,
  .price-btn-here textarea 
  {
    background: transparent;
    outline: none;
    color: #fff;
    border: 1px solid #31314f;
}

/* ================ CREATE SIGNLE PAGE CSS ADD HERE  ================ */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link { 
    background-color: transparent;
    color: #fe0291;
    border: 1px solid #fe0291;
}

.fixed_price_box li a,
.create_erc20_box {
    border-radius: 7px !important;
    padding: 6px;
    align-items: center;
    display: flex;
    background: #1d1d31;
    border: 1px solid #31314f;
    justify-content: center;
    margin: 0 7px;
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.form_control {
    background: transparent;
    color: #fff;    
    padding: 0 20px;    
    outline: none;
}
#input_open,
#hide_btn,
#hide_btn2,
#hide_btn3,
#input_open3, 
#input_Unlock {
    display: none;
}

/* ================ CREATE SIGNLE PAGE CSS END HERE END ================ */

.connect_l {
    background-position: center;
    background-size: cover; 
    height: 100vh;
    padding: 30px;
}